
:root{
    --white: hsl(0, 0%, 100%);
    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);
    --Brown-800: hsl(14, 45%, 36%);
    --p: 16px;
    --Stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--Rose-50);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    padding: 4em 0;
    font-family: Outfit;

}
.attribution { 
    margin-top: 1.5em ;
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%);
 }


.container{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 38%;
    padding: 2%;
    height: 100%;
    border-radius: 25px;
}

.omelette-container{
    height: 35vh;
    background-image: url("./assets/images/image-omelette.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    width: auto;
}
.big-title{
    font-family: Young Serif;
    font-weight: 400;
    font-size: 40px;
    margin: 1em 0;
}
.banner-paragraph{
    font-family: Outfit;
    font-weight: 450;
    font-size: var(--p);
    color: var(--stone-600);
    
}
.banner{
    background-color: var(--Rose-50);
    padding: .9em 2em;
    border-radius: 15px;
    line-height: 1.9;
    font-family: Outfit;
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.banner .small-title{  
    color: var(--Rose-800);
    
}
.banner ul{
    margin-left: 1.5em;
}

.banner ul li{
    padding: 0 1em;
}
.banner ul li::marker{
    color: var(--Rose-800);
}
.special-list{
    color: var(--stone-900);
    font-weight: bold;
}
.ingredients-container{
    line-height: 2;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--stone-150);
    padding: 0 0 1.5em 0;
}
.special-title{
    font-family: Young Serif;
    color: var(--Brown-800);
    font-size: 30px;
    font-weight: 100;
}
.ingredients-container .list-style{
    margin-left: 1em;
}
.ingredients-container ul li{
    padding: 0 1em;
    color: var(--stone-600);
    font-weight: 500;
}
.ingredients-container .list-style li::marker{
    color: var(--Brown-800);
}
.instructions-container{
    margin: 1.5em 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-bottom: 1px solid var(--stone-150);
    padding: 0 0 2em 0;
}
.instructions-container .ordoned-list{
    margin-left: 1.5em;
    display: flex;
    flex-direction: column;
    gap: .8em;
    
}
.ordoned-list li{
    font-size: var(--p);
    padding-left: 1em;
    color: var(--stone-600);
    font-weight: 500;
    
}
.instructions-container .ordoned-list li::marker{
    color: var(--Brown-800);
    font-weight: bold;
    
}
.nutrition{
    font-weight: 500;
    color: var(--stone-600);

}
.nutrition p{
    margin: 1em 0;
}
.nutrition-table-container{
    display: flex;
    flex-direction: column;
}
.content-table{
    border-collapse: collapse;
}
.content-table tbody td{
    padding: 1em 0;
    
}
.content-table tbody tr{
    border-bottom: 1px solid var(--stone-150);
}
.content-table tbody tr:last-child{
    border-bottom: none;
}
.content-table tbody td.bold-table-item{
    font-weight: bold;
    color: var(--Brown-800);
}

@media screen and (max-width: 410px){
    
    .container{
        width: 100vw;
        padding: 0 2em;
        height: 100%;
        border-radius: 0;
    }
    
    .big-title{
        font-size: 35px;
        font-weight: 400;
    }
    .attribution {
        margin: 1.5em 0;
    }
    
    .omelette-container{
        
        padding: 0;
        border-radius: 0;
        width: 100%;
        background-size: cover;
        background-position: center;
    }
    .body{

        background-color: white ;
        display: block;
        height: 100dvh;
        padding:0;
        height: 100%;
    }
}